.homeContainer {
    font-family: 'Kulim Park', sans-serif;
    color: #000000;
    background-color: #c0d2de;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    position: relative;
    /* Remove padding-top here */
}
body {
    font-family: 'kulim Park', sans-serif;
    color: #000000;
    background-color: #c0d2de;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    position: relative;
    overflow: auto;
    padding-top: 40px; /* Moves content below the header */
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #c0d2de;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensures it stays above scrolling content */
    text-align: center;
    padding-bottom: 50px;
}

.h1{
    font-weight: lighter;

}
.logo {
    font-size: 90px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    user-select: none;
}


